:root {
  --text-font-family: "Roboto", sans-serif;
  --logo-font-family: "Raleway", sans-serif;
  --NAVY-BLUE: #2e2f42;
  --IRIS: #4d5ae5;
  --SLATE: #434455;
  --WHITE: #ffffff;
  --CLOUD: #f4f4fd;
  --CORNFLOWER: #e7e9fc;
  --OCEAN: #404bbf;
}

body {
  font-family: var(--text-font-family);
  color: var(--SLATE);
  background-color: var(--WHITE);
}

.header-container-nav {
  display: flex;
}

.header-container {
  width: 1440px;
  height: 72px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  padding: 24px 156px 24px 156px;
}

.logo-link {
  font-family: var(--logo-font-family);
  color: var(--IRIS);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.studio-word-link {
  color: var(--NAVY-BLUE);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.list {
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 40px 40px;
}

.link {
  text-decoration: none;
}

.list-link {
  color: var(--NAVY-BLUE);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.list-link:hover,
.list-link:focus {
  color: var(--OCEAN);
}

.address-title {
  font-style: normal;
}

.address-link {
  color: var(--SLATE);
  font-size: 16px;
  font-style: normal;
  line-height: 150%;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.address-list {
  text-decoration: none;
  list-style: none;
  font-style: normal;
  gap: 40px;
}

.address-link:hover,
.address-link:focus {
  color: var(--OCEAN);
}

.hero-section-list {
  background-color: var(--NAVY-BLUE);
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
}

.title {
  color: var(--WHITE);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 107.143%;
  letter-spacing: 1.12px;
  width: 496px;
  padding: 188px 472px 48px 472px;
}

.order-service-button {
  font-family: var(--text-font-family);
  background-color: var(--IRIS);
  color: var(--WHITE);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.64px;
  cursor: pointer;
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
}

.div-service-button {
  text-align: center;
  gap: 1px;
}

.order-service-button:hover {
  background-color: #404bbf;
}
.order-service-button:focus {
  background-color: #404bbf;
}

.key-words-list {
  display: flex;
}

.words-list-item {
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.four-list {
  list-style: none;
  padding: 120px 156px 0px 156px;
}

.key-words {
  color: var(--NAVY-BLUE);
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
}

.key-words-section {
  color: var(--SLATE);
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.32px;
}

.activ-list {
  list-style: none;
  width: 1128px;
  height: 412px;
  flex-shrink: 0;
  padding: 120px 156px 0px 156px;
}

.activity-section {
  color: var(--NAVY-BLUE);
  font-size: 36px;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
}

.people {
  background-color: var(--WHITE);
}

.team-section-list {
  background-color: var(--CLOUD);
  list-style: none;
  text-align: center;
  width: 1440px;
  height: 732px;
  flex-shrink: 0;
}

.team-list {
  background-color: var(--CLOUD);
}

.team-title {
  color: var(--NAVY-BLUE);
  background-color: var(--WHITE);
  font-size: 36px;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.team-members {
  color: var(--NAVY-BLUE);
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
}

.team-jobs {
  color: var(--SLATE);
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.32px;
}

.footer-section {
  background-color: var(--NAVY-BLUE);
  width: 1440px;
  height: 312px;
  flex-shrink: 0;
  padding-top: 100px;
  padding-bottom: 100px;
}

.studio-word-footer-link {
  color: var(--CLOUD);
}

.logo-footer-link {
  font-family: var(--logo-font-family);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--IRIS);
  text-decoration: none;
  display: flex;
  width: 71px;
  height: 21px;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 16px;
  display: inline-block;
}

.text-footer {
  color: var(--CLOUD);
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  max-width: 264px;
}

.list-buttons {
  font-family: var(--text-font-family);
  list-style: none;
}

.nav-button {
  color: var(--IRIS);
  background-color: var(--CLOUD);
  font-family: var(--text-font-family);
  border: 1px solid var(--CORNFLOWER);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #404bbf;
  color: var(--WHITE);
}

.nav-button:focus {
  background-color: #404bbf;
  color: var(--WHITE);
}

.images-list {
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 24px 24px;
}
.main-titles {
  color: var(--NAVY-BLUE);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  list-style: none;
  text-decoration: none;
}

.main-paragraph {
  color: var(--SLATE);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
  list-style: none;
  text-decoration: none;
}
